<nav class="navbar navbar-default nav">
    <div class=" container ">
        <div class="navbar-header ">
            <a class="navbar-brand " href="#">
                <svg width="100" height="25">
                    <image href="./assets/Logo5.svg " src="svg.png " width="100 " height="25 " />
                </svg>
            </a>
        </div>
        <p class="navbar-text ">BANCO UPEO</p>
        <p class="navbar-text navbar-right ">Binvenido: Luis Rodr&iacute;guez</p>
    </div>
</nav>
